/* MapLibre GL styles */
.maplibregl-map {
    width: 100%;
    height: 100%;
}

.maplibregl-canvas-container {
    width: 100%;
    height: 100%;
}

.maplibregl-canvas {
    width: 100%;
    height: 100%;
}

/* Cesium styles */
.cesium-viewer {
    width: 100%;
    height: 100%;
}

.cesium-viewer-cesiumWidgetContainer {
    width: 100%;
    height: 100%;
}

.cesium-widget-canvas {
    width: 100%;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #0f0f10;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
